* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description {
  max-width: 60%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 799px) {
  .description {
    display: none;
  }
}
.search-form > * {
  min-height: 22px;
  margin: 10px 2px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
  padding: 5px;
}

.search-form > *:hover {
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}

.result {
  position: relative;
}

.result {
  border-bottom: 1px solid cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result span {
  max-width: 50%;
  margin-left: 10px;
}

.result .btn-details {
  position: absolute;
  right: 0;
  bottom: 0;
}

.result .btn-favor {
  position: absolute;
  right: 0;
}

.result img {
  max-width: 100px;
}

button {
  margin: 5px;
}

.btn--active {
  font-weight: 700;
}

#pageN {
  max-width: 30px;
}

h1, h2 {
  line-height: 1.5;
  padding: 0;
  margin: 10px;
}

.hidden {
  opacity: 0;
  display: none;
}

.isFavorite {
  background-color: #e259cb;
}